<!DOCTYPE html>
<html lang="en">
<head>
    <title>Selfservice Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img class="image" 
                alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div>
                    <% if(errors != "") { %>
                        <% errors.forEach((item) => { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
              <form method="POST" action="/login">
                <div class="d-flex align-items-center my-4">
                    <h1 class="text-center fw-bold mx-3 mb-0">Selfservice Login</h1>
                  </div>

                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0">Sign in</p>
                </div>
      
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="email" name="email" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" />
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="passoword" name="password" class="form-control form-control-lg"
                    placeholder="Enter password" />
                </div>
      
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-login btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
