.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.image {
    margin-top: 70px;
    content: url("../images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 500px;
    width: 800px;
    border-radius: 3px;
}

.btn-login {
    color: white;
    background-color: #663366;
}

.btn-login:hover {
  background: #a34ea3;
}

a {
  color: #663366 !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

td:nth-child(odd) {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #ececec;
}

.files-pass {
	color: #663366;
	background-color: #663366;
}

.files-pass:hover {
	color: #495057;
	background-color: white;
}

.alert-color {
       color: #663366;
       background-color: #a34ea3;
       border-color: #663366;
}
